<html>
  <head>
    <title>Steves Youtube Downloader</title>
    <link rel="icon" type="image/x-icon" href="public/images/you.png">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
  </head>
  <body>
      {{error}}
      <center>
          <div>
            {{#each imageData}}
            <img src="{{url}}" alt="no image to display" width = "300" height = "300">
            {{/each}}
          </div>
      </center>
  </body>
</html>
